body { 
    background-color: rgb(223, 104, 104);
}
.container {
    display: flex;
    flex-wrap:wrap
}
#hang { 
    max-width: 500%;
}
nav {
    top: 0em; 
    justify-content: space-between
}
form {
    display:flex;
    align-items: center; 
    max-width: fit-content;
    left: 50em;  
    top:50em;
    border: 5px outset #214dad;
    border-radius: 20px;
}
.nav-item {
    background-color: royalblue;
    cursor: pointer;
}
#correct-letter {
    flex-wrap: wrap;
   border: 10px solid black;
    max-width: fit-content;
    min-height:200px;
    position: inherit;
    right: 10em;
    top: 5em;
    display: inline-flexbox
  
}
h2 {
    display: inline;
   
    justify-content: flex-start;
}
#refresh {
    color: aliceblue;
    font-size: smaller;
    position:relative;
    left: 3em;
    top: 2em
}
.deaths {
    position: relative;
    bottom: 10em;
    left: 3em;
    display: inline-flexbox
}
#graveyard {
    display: inline-flex
}